<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find pub_test_ros)/config/rosconsole.config"/>

  <rosparam command="load" file="$(find custom_msg_srv_param_ros)/config/topic.yaml"/>
  <rosparam command="load" file="$(find custom_msg_srv_param_ros)/config/custom_param.yaml"/>
  
  <node name="advanced_publisher_test_node" pkg="pub_test_ros" type="pub_advanced_test_ros_node" output="screen" />
</launch>